body {
    margin: 0;
}

header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: #1F2937;
}

.backgroundColor {
    background-color: #1F2937;
}

nav {
    padding: 16px;
}

#icon {
    display: flex;
    flex: 0;
    align-items: end;
    margin: 0;
}
